<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com"><i class="fab fa-square-facebook"></i></a>
            <a href="https://www.twitter.com"><i class="fab fa-square-twitter"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        </div>
        <div>WanderLust PVT LTD</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a> &nbsp; | &nbsp;
            <a href="/terms">Terms of Service</a>
        </div>
    </div>
</footer>